<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>{{ folder }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-progress-bar type="indeterminate" *ngIf="loading" color="success"></ion-progress-bar>
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">{{ folder }}</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-list>
		<ion-item *ngFor="let proj of projects">
			<ion-avatar>
				<ion-icon name="albums"></ion-icon>
			</ion-avatar>
			<ion-label>
				<h2 class="title">{{proj.title}}</h2>
				<h3>{{proj.publishDate | date: 'EEE dd MMM yyyy'}}</h3>
				<p><span class="startDate">{{proj.startDate | date: 'dd/MM/yyyy'}}</span>{{' - '}}<span class="endDate" *ngIf="proj.endDate!=null">{{proj.endDate | date: 'dd/MM/yyyy'}}</span></p>
			</ion-label>
		</ion-item>
	</ion-list>

	<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData()" id="infinite-scroll">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>

</ion-content>